<!DOCTYPE html>
<html>
<head>
    <title>Secure Data Hiding using Calendar Heatmap Steganography</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="page-header">
    <div class="project-title">
        🔐 Secure Data Hiding using Calendar Heatmap Steganography
    </div>
    <div class="page-subtitle">
        Encrypted Steganographic Communication
    </div>
</div>

<div class="container">
    <div class="card">
        <a href="/admin-login" class="btn yellow">Admin Login</a>
        <a href="/login" class="btn">Login</a>
        <a href="/register" class="btn blue">Register</a>
    </div>
</div>

</body>
</html>
